{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="main">
    {% for post in posts %}
    <div class="post">

        <h2>
            {{ post[1] }}
            <sub>
                by {{ post[3] }}
            </sub>
        </h2>
        <p>
            {{ post[2] }}
        </p>
        {% if post[3] == user.name %}
        <a href="/delete/{{post[0]}}">Delete</a>
        <a href="/update/{{post[0]}}">Edit</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% include "sidebar.html" %}
{% endblock %}